.row {
  margin-left: 0;
  margin-right: 0;
}
.col-price {
  padding-left: 0;
}
.card { 
    margin-bottom: 30px;
    border-color: #f2f2f2;
  }
  .card-img-top {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
  }
  .card-footer {
    padding: 0;
    background: #fff;
  }
  .card-footer button {
    cursor: pointer;
    font-weight: 500;
    /* text-transform: uppercase; */
  }
  .fa-cart-plus {
    margin-right: 10px;
  }
  .category-logo {
    height: 40px;
    float: right;
    top: 0;
  }
  a {
    text-decoration: none;
    color: #132d4a;
  }
  .strike-out {
    text-decoration: line-through;
  }
  .badge-danger {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: normal;
  }
  .btn-secondary {
    border-radius: 0;
  }
  ngx-gallery /deep/ .ngx-gallery-arrow {
    color: #6c757d;
    top: 90%;
}

ngx-gallery /deep/ .ngx-gallery-image {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}

ngx-gallery /deep/ .ngx-gallery-preview-top {
  top: 85%;
}
ngx-gallery /deep/ .ngx-gallery-icon {
  color: #6c757d;
}
ngx-gallery /deep/ .ngx-gallery-preview-top  .ngx-gallery-preview-icons {
  float: none !important;
  text-align: center !important;
}
