<div class="card">
  <a [routerLink]="['/product/', product.$key]">
    <!-- <img *ngIf="product.photo1 && showImage" [src]="product.photo1" class="card-img-zoom"> -->
    <div *ngIf="product.photo1small && showImage" [style.backgroundImage]="'url(' + product.photo1small + ')'" class="card-img-top">
    </div>
  </a>
  <ngx-gallery *ngIf="showGallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-secondary btn-block">
      <i class="fa fa-cart-plus"></i>Add to Cart</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart">

      </product-quantity>
    </ng-template>
  </div>
  <div *ngIf="showDetails">
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/product/', product.$key]">{{ product.title }}</a>
      </h5>
      <div class="row">
        <div class="col-sm-8">
          <p class="card-text" *ngIf="product.discount === 0">{{ product.price | currency:'USD':'symbol'}}</p>
          <div *ngIf="product.discount > 0">
            <p>
              <span class="card-text strike-out">{{ product.price | currency:'USD':'symbol'}}</span>
              <span class="card-text badge badge-danger">{{ product.price * (1 - (product.discount / 100)) | currency:'USD':'symbol'}}</span>
            </p>
          </div>
        </div>
        <div *ngIf="category$ | async as category" class="col-sm">
          <img *ngIf="category.logo" [src]="category.logo" class="category-logo">
        </div>
      </div>
    </div>
  </div>
</div>