.w-100 {
    width: 50%;
}
.search-input {
    margin: 20px 0 20px;
}
.py-2 {
    outline: hidden;
    box-shadow: none;
}
.thumbnail {
    font-family: "adineuePROKZ-Black";
    position: relative;
    margin-top: 20px;
}
.caption {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: white;
}
.img-thumbnail {
    padding: 0;
}
.small-text {
    font-family: "adineuePROKZ-Bold";
    font-size: 24px;
}
.btn-default {
    color: 161616;
    background: white;
    outline: 0;
    margin-top: 15px;
}
.row-products {
    margin-top: 10px;
}