<div class="container">
  <p>
      <input
      #query
      (keyup)="filter(query.value)"
      type="text" class="form-control" placeholder="Search...">
  </p>
  
  <data-table
      [items]="items"
      [itemCount]="itemCount"
      [header]="false"
      (reload)="reloadItems($event)">
      <data-table-column
          [property]="'userId'"
          [header]="'Customer'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              {{ item.shopping.name }}
          </ng-template>
      </data-table-column>
      <data-table-column
          [property]="'date'"
          [header]="'Date'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              {{ item.datePlaced | date }}
          </ng-template>
      </data-table-column>
      <data-table-column
          [property]="'$key'">
          <ng-template #dataTableCell let-item="item">
                  <a [routerLink]="['/admin/orders/', item.$key]"><button class="btn btn-sm btn-default">Edit</button></a>
          </ng-template>
      </data-table-column>
  </data-table>
  </div>