<div class="row">
  <div class="col-sm-8">
      <h1>Orders</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Order's ID</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders$ | async">
          <td>{{ order.orderId }}</td>
          <td>{{ order.datePlaced | date}}</td>
          <td>Ready to expedite</td>
          <td>
            <a [routerLink]="['/my/orders/', order.$key]"><button class="btn btn-default btn-sm">View</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>