<ng-container *ngIf="order && items">
  <div class="row">
    <div class="col-sm-4">
      <h4><i class="fas fa-truck"></i>Shipping</h4>
      <div class="shipping">
        <div class="row">
          <div class="col-sm-12 col-ship">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-qrcode"></i></th>
                  <td>{{order.orderId}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-calendar"></i></th>
                  <td>{{order.datePlaced | date}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-clock"></i></th>
                  <td>Ready to expedite</td>
                </tr>
              </tbody>
            </table>
            <hr />
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-at"></i></th>
                  <td>{{order.shopping.email}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-user"></i></th>
                  <td>{{order.shopping.name}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-home"></i></th>
                  <td>{{order.shopping.addressLine1}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-map-marker-alt"></i></th>
                  <td>{{order.shopping.addressLine2}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-city"></i></th>
                  <td>{{order.shopping.city}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row row-button"><a routerLink="/my/orders">
          <button class="btn btn-defult btn-sm">Back to orders</button></a></div>
    </div>
    <div class="col-sm-4">
      <h4 *ngIf="order.items.length > 1"><i class="fas fa-info"></i>Products</h4>
      <h4 *ngIf="order.items.length < 2"><i class="fas fa-info"></i>Product</h4>
      <div *ngFor="let item of items" class="row row-product">
        <div class="col-sm-4 col-img-product" [style.backgroundImage]="'url(' + item.product.photo1small + ')'"></div>
        <div class="col-sm col-details">
          <h4>{{item.product.title}}</h4>
          <span>Quantity: {{item.quantity}}</span>
          <h5>Price: {{ (1 - (item.product.discount / 100)) * item.product.price * item.quantity |
                currency:'USD':'symbol'}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm col-sm-image sticky-top">
      <div class="caption">
        <div class="small-text">
          <span>every week</span>
          <span>something new</span>
          <span class="brand">shoeshop</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>